#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Label_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Ellipse_43 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Ellipse_44 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Ellipse_45 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Ellipse_46 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Ellipse_47 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Label_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Image_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Image_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Image_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Rich_text_199 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Line_110 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Rich_text_200 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Line_111 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Rich_text_201 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Line_112 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Rich_text_202 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Line_113 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Rich_text_203 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Line_114 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}