#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-input-form {
  border-collapse: separate;
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Cell-header > .valign {
  vertical-align: middle;
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Rich_text_22 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Label_87 {
  -ms-transform: rotate(0.0deg);
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Label_82 {
  -ms-transform: rotate(0.0deg);
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Button_8 {
  -ms-transform: rotate(0.0deg);
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Rectangle_18 {
  -ms-transform: rotate(0.0deg);
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Label_40 {
  -ms-transform: rotate(0.0deg);
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Ellipse_43 {
  -ms-transform: rotate(0.0deg);
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Ellipse_44 {
  -ms-transform: rotate(0.0deg);
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Ellipse_45 {
  -ms-transform: rotate(0.0deg);
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Ellipse_46 {
  -ms-transform: rotate(0.0deg);
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Ellipse_47 {
  -ms-transform: rotate(0.0deg);
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Label_62 {
  -ms-transform: rotate(0.0deg);
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Image_50 {
  -ms-transform: rotate(0.0deg);
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Image_51 {
  -ms-transform: rotate(0.0deg);
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Image_52 {
  -ms-transform: rotate(0.0deg);
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Rich_text_199 {
  -ms-transform: rotate(0.0deg);
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Line_110 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Line_110 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Rich_text_200 {
  -ms-transform: rotate(0.0deg);
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Line_111 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Line_111 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Rich_text_201 {
  -ms-transform: rotate(0.0deg);
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Line_112 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Line_112 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Rich_text_202 {
  -ms-transform: rotate(0.0deg);
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Line_113 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Line_113 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Rich_text_203 {
  -ms-transform: rotate(0.0deg);
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Line_114 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 #s-Line_114 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-4490a05f-b451-4837-ade1-b8e02990a1c3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}