#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Label_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Rich_text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Line_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Rich_text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Rich_text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Label_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Menu-icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Label_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Label_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Rich_text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Line_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Rich_text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Rich_text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Label_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Rich_text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Line_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Rich_text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Rich_text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Tab-bar_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}