#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Side-Menu {
  border-collapse: separate;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-List-Items-Screen {
  border-collapse: separate;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Cell-header_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Label_89 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Button_9 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Label_33 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_15 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_17 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_24 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_25 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Label_55 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Cell-content_1 > .valign {
  vertical-align: top;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Rich_text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Line_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Line_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Rich_text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Rich_text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Cell-header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Label_88 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Menu-icon {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_8 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_16 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_22 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_23 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Label_54 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-List-Items-Screen {
  border-collapse: separate;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Cell-header_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Label_89 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Button_9 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Label_33 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_15 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_17 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_24 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_25 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Label_55 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Cell-content_1 > .valign {
  vertical-align: top;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Rich_text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Line_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Line_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Rich_text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Rich_text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Cell-content > .valign {
  vertical-align: middle;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-List-Items-Screen {
  border-collapse: separate;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Cell-header_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Label_89 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Button_9 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Label_33 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_15 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_17 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_24 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Ellipse_25 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Label_55 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Cell-content_1 > .valign {
  vertical-align: top;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Rich_text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Line_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Line_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Rich_text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Rich_text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Tab-bar_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-64fc1b27-7833-48f8-ab0e-351f46043c6e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}