#s-74898225-6245-4597-9aad-4601aae1a945 #s-Inbox-Screen {
  border-collapse: separate;
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Rich_text_22 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Label_87 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Label_82 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Rectangle_18 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Label_40 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Ellipse_43 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Ellipse_44 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Ellipse_45 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Ellipse_46 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Ellipse_47 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Label_62 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Image_50 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Image_51 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Image_52 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Cell-center > .valign {
  vertical-align: top;
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Rich_text_236 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Rich_text_47 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Line_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Line_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-dot-blue {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Label_77 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Rich_text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Rich_text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Rich_text_48 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Line_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Line_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-dot-blue_1 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Rich_text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Label_78 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Rich_text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Rich_text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Rich_text_49 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Line_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Line_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-dot-blue_2 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Rich_text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Label_79 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Rich_text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Rich_text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Rich_text_50 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Line_24 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Line_24 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-dot-blue_3 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Rich_text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Label_80 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Rich_text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Rich_text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Cell-bottom > .valign {
  vertical-align: middle;
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Rectangle_29 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Line_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Line_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Line_18 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #157EFB;
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Line_18 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #157EFB;
  -ms-transform: rotate(0.0deg);
}
#s-74898225-6245-4597-9aad-4601aae1a945 #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-74898225-6245-4597-9aad-4601aae1a945 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}