#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-Header-base {
  -ms-transform: rotate(0.0deg);
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-Footer-base {
  -ms-transform: rotate(0.0deg);
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-Label-Off {
  -ms-transform: rotate(0.0deg);
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-Ellipse_274 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-Ellipse_275 {
  -ms-transform: rotate(0.0deg);
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-Focus_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FBD433;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FBD433;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FBD433;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FBD433;
  -ms-transform: rotate(0.0deg);
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-Rectangle {
  -ms-transform: rotate(0.0deg);
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-Ellipse {
  -ms-transform: rotate(0.0deg);
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-timelapse-label {
  -ms-transform: rotate(0.0deg);
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-Slomo-label {
  -ms-transform: rotate(0.0deg);
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-Photo-label {
  -ms-transform: rotate(0.0deg);
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-Square-label {
  -ms-transform: rotate(0.0deg);
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-Video-label {
  -ms-transform: rotate(0.0deg);
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-AE-AF-Lock_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FBD433;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FBD433;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FBD433;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FBD433;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-num-rec-label {
  -ms-transform: rotate(0.0deg);
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}