#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-Header-base {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-Footer-base {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-Label-Off {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-Ellipse_274 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-Ellipse_275 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-Focus_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-Rectangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-Ellipse {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-timelapse-label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-Slomo-label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-Photo-label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-Square-label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-Video-label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-AE-AF-Lock_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-num-rec-label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b067ed36-d418-4ee9-b8ec-3e8a8a7a10ed > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}