#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Label_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Ellipse_43 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Ellipse_44 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Ellipse_45 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Ellipse_46 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Ellipse_47 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Label_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Image_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Image_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Image_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Rich_text_47 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Line_21 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-dot-blue {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Rich_text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Label_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Rich_text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Rich_text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Rich_text_48 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Line_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-dot-blue_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Rich_text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Label_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Rich_text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Rich_text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Rich_text_49 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Line_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-dot-blue_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Rich_text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Label_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Rich_text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Rich_text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Rich_text_50 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Line_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-dot-blue_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Rich_text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Label_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Rich_text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Image_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Rich_text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Line_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Line_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ba3ac059-9e9d-40fc-a323-241d91586d68 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}